body {
  background-color: #eee;
}

@media (max-width: 590px) {
  .font-scaledown {
    font-size: 90%;
    color: #000000aa !important;
    word-break: break-word;
  }

  .label-scaledown {
    font-size: 60%;
  }
}

nav .navbar-brand {
  color: #ffa41c;
  text-shadow: 0 0 2px #eee;
}

.btn-outline-custom {
  color: #777;
  border: 2px solid #ffa41c;
  background-image: linear-gradient(#ffa41c00, #ffa41c22);
}

.btn-outline-custom:hover {
  background-image: linear-gradient(#ffa41c22, #ffa41caa);
  border: 2px solid #ffa41c;
}
.btn-active {
  color: #555;
  background-image: linear-gradient(#ffa41c22, #ffa41c55);
}

#searchInput,
#searchInput:hover {
  background-image: linear-gradient(#ffa41c00, #ffa41c22);
  outline: 1px solid #ffa41c;
}
